*{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
.menu{
	width: 100%;
	height: 70px;
	background-color: #34333b;
	position: fixed;
}
.menu ul{
	width: 70%;
    margin: 5px auto;
	list-style-type:none;
	padding:20px 0;
}
.menu ul li{
	width: 170px;
	float: left;
	cursor:pointer;
	text-align: center;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
}
.menu ul li a:hover{
	background-color: #fff;
	color: #669999;
	padding: 23px;
}
.slider{
	width: 100%;
	height: auto;
	margin: 0px auto;
	padding-top: 100px;
}
.slider img{
	width: 100%;
}
.container{
	width: 70%;
	height: auto;
	margin: 0px auto;
}
.container h1{
	width: 90%;
	font-size: 27px;
	text-align: center;
	margin: 25px 0;
}
.container h2{
	width: 90%;
	font-size: 22px;
	text-align: center;
	margin: 25px 0;
}
.container h2 a{
	text-decoration: none;
	color: #669999;
}
.information{
	width: 40%;
	margin: 20px auto;
}
.information img{
	width: 30%;
	margin-left: 140px;
}
.information h3{
	margin-top: 20px;
	text-align: center;
}
.information p{
	margin-top: 20px;
	text-align: center;
}
.container-1{
	width: 70%;
	height: 500px;
	margin: 0px auto;
	padding-top: 60px;
}
.container-1 .photo{
	float: left;
	width: 40%;
	margin-top: 80px;
}
.container-1 select{
	width: 200px;
    height: 40px;
    margin: 10px 0;
    padding: 8px 5px;
}

.label{
	width: 300px;
    height: 30px;
    margin: 10px 0;
    padding: 8px 5px;
}
.button{
	width: 100px;
	height: 50px;
	border-radius: 5px;
	background-color: #669999;
}
.button a{
	color: #fff;
}
.ozel h3{
    padding-top: 70px;
    font-size: 30px;
    margin-bottom: -40px;
}
.container-1 .write{
	float: left;
	width: 40%;
	margin-top: 80px;
}
.container-1 .write h2{
	text-align: center;
}
.container-1 .write h4{
	font-weight: 100;
}
.container-1 .write p{
	margin:20px 10px;
}
.galeri{
	width: 70%;
	height: auto;
	margin: 0px auto;
	padding-top: 100px;
}
.galeri img{
	width: 40%;
	height: 300px;
	margin-right: 70px;
    border-radius: 15px;
}

footer{
	 background-color:#34333b;
	 padding:15px;
	 margin-top:70px;
}
footer p{
	text-align: center;
	padding: 20px;
}
footer a{
	text-decoration: none;
	color: #fff;
}