{% extends 'layout.html' %}

{% block body %}

    </div>
	<div class="galeri">
		<img src="fitness.jpg">
		<img src="fit4.jpg">
	</div>
	<div class="galeri">
		<img src="fit3.jpg">
		<img src="fit5.jpg" width="300px" height="300px">
	</div>
	<div class="galeri">
		<img src="fit1.jpg" width="300px" height="300px">
		<img src="fit2.jpg" width="300px" height="300px">

	</div>

{% endblock %}