{% extends 'layout.html' %}

{% block body %}
    <div class="container-1">
		<div class="photo">
			<img src="logo.jpg">
		</div>

		<div class="write">
			<h2>Hakkımızda</h2>
			<p>2019 yılında Kalkınma'da açılan ilk şubemiz ile sizlerle buluştuk.</p>
			<p>Alanında uzman spor eğitmenlerimizle spor yapmanın ayrıcalığını sizlerle paylaştık.</p>
			<p>Sizinle büyüdük ve şimdi ikinci şubemizde sizlere ayrıcalıklı spor yapmaya davet ediyoruz.</p>
			<p>Yakında Türkiye'de çeşitli illerde de hizmetinizde olacağız.</p>
		</div>

	</div>

{% endblock %}