{% extends 'layout.html' %}

{% block body %}


    <div class="photo">
        <img src="logo.jpg">
    </div>

    <div class="write">
        <p> İletişim Numarası : 0462 478 58 58</p>
        <p> Mail Adresi : someone@example.com</p>
        <p> Adres : Kalkınma Mah. 116.sokak No:1</p>
    </div>


{% endblock %}