{% extends 'layout.html' %}

{% block body %}
<div class="slider">
		<img src="bg-slider.jpg">
	</div>

	<div class="container">
		<h1>Spor Merkezimize Gelmeden Ön Kaydınızı Gerçekleştirebilirsiniz!</h1>

	<h2>
		<a href="kayit.html">Buraya</a> tıklayarak ön kayıt formunu doldurun, asıl kayıt için geldiğinizde beklemeyin !
	</h2>

		<div class="information">
			<img src="logo2.jpg">
			<h3>GRUP ÇALIŞMASI</h3>
			<p>10 kişilik gruplar halinde, amaçlanan ortak hedefe göre hazırlanan plan dahilinde grup çalışması.</p>
		</div>

		<div class="information">
			<img src="logo2.jpg">
			<h3>BİREYSEL ÇALIŞMA</h3>
			<p>Size özel planlanan program dahilinde uzman hocalarımızla birlikte bireysel çalışma.</p>
		</div>

		<div class="information">
			<img src="logo2.jpg">
			<h3>VÜCUT GELİŞTİRME</h3>
			<p>Vücut geliştirmeye adım atmak ve sağlam bir yapıya sahip olmak istiyorsanız sizi bekliyoruz.</p>
		</div>
	</div>

{% endblock %}