{% extends 'layout.html' %}

{% block body %}

    <div class="container-1 ozel">
			<h3>İlk Kayıt Ekranı</h3>
		<div class="photo">

			<p>Cinsiyet</p>
			<select>
			  <option value="Sec">Seçin</option>
			  <option value="erkek">Erkek</option>
			  <option value="kadın">Kadın</option>
			</select>
			<p>Adı Soyadı</p>
			<input class="label" type="text" name="FirstName" value="">

			<p>E-Mail</p>
			<input class="label" type="email" placeholder="E-Mail">

			<p>Şifre</p>
			<input class="label" type="password">

			<p>Adres</p>
			<textarea rows="4" cols="30"></textarea>
		</div>

		<div class="write">
			<h4>Sağlık Raporu</h4>
			<select>
			  <option value="Sec">Seçin</option>
			  <option value="var">var</option>
			  <option value="yok">yok</option>
			</select>

			<h4>TC</h4>
			<input class="label" type="text">

			<h4>Numara</h4>
			<input class="label" type="text">
			<br><br>

			<button class="button"><a href="#">Gönder</a></button>
		</div>

	</div>


{% endblock %}