<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Page Title</title>
		<link rel="stylesheet" href="css/mystill.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<script type="text/javascript" src="jquery.min.js"></script>
	</head>
<body>
	<div class="menu">
		<ul>
			<li><a href="#">ANASAYFA</a></li>
			<li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
			<li><a href="galeri.html">GALERİ</a></li>
			<li><a href="iletisim.html">İLETİŞİM</a></li>
			<li><a href="kayit.html">KAYIT</a></li>
		</ul>
	</div>
{% block body %}1
    {% endblock %}
	<footer>
		<p>Posted by: Hege Refsnes</p>
		<p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
	</footer>
</body>
</html>